*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6e8e5;

}

.main-links, .social-links{
    color: gray;
    font-size: 1.3em;
}

#name{
    cursor: default;
    margin: auto;
}

.social-links{
    font-size: 1.8em;
}

/* .proj{
    height: 35%;
} */

.proj-info{
    width: 70%;
}


/* .projImg{
    width: 300px;
} */

.seeMore{
    cursor: pointer;
    text-decoration: underline;
}

.projectDetail, .about-text{
    font-size: 1.3em;
}

#projectsContainer a{
    font-size: 1em;
    text-decoration: underline;
}

#moreProjectDetail1 a{
    color: #000444;
    text-decoration: underline;
}

.screenshot{
    max-width:100%;
    max-height:100%;
}

/* #about{
    height: 90vh;
} */

#about-title{
    text-align: center;
}

/* .about-text-container{
    height: 60%;
} */

.skills img{
    max-width: 100px;
    max-height: 100px;
}

footer{
    border-top: solid rgba(39,39,39,0.1) 1px;
}

@media(max-width: 992px){
    .proj-info{
        width: 100%;
    }
}