* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6e8e5;
}

.main-links,
.social-links {
  color: gray;
  font-size: 1.3em;
}

a:hover {
  color: #0f0f0f;
}

.name,
.sub,
.loc {
  cursor: default;
  margin: auto;
}

.sub {
  font-size: 1.6rem;
}

.loc {
  font-size: 1rem;
}

.proj-info {
  width: 70%;
}

.seeMore {
  cursor: pointer;
  text-decoration: underline;
}

.projectDetail,
.about-text {
  font-size: 1.3em;
}

#projectsContainer a {
  font-size: 1em;
  text-decoration: underline;
}

.projectDetail a,
#moreProjectDetail1 a {
  color: gray;
  text-decoration: underline;
}

.screenshot {
  max-width: 100%;
  object-fit: cover;
}

#about-title {
  text-align: center;
}

#bookshelf {
  object-fit: cover;
  height: 180px;
  width: 100%;
}

.skills img {
  max-width: 100px;
  max-height: 100px;
}

footer {
  border-top: solid rgba(39, 39, 39, 0.1) 1px;
}

@media (max-width: 992px) {
  .proj-info {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 3.2rem;
  }
  p.sub {
    font-size: 1.2rem;
  }
}
